In [1]:
import numpy as np
import pandas as pd

In [3]:
# Read in JSON into dataframe
df = pd.read_json('StreamingHistory.json')

In [4]:
# get number of rows
half_rows = df['artistName'].count() / 2

In [5]:
# drop all columns besides artistNames
df = df.drop(columns=['trackName', 'endTime', 'msPlayed'])

In [6]:
# split into 2 dfs
df1, df2 = np.split(df, [int(half_rows)], axis=0)

In [158]:
# generate 2 dataframes with unique artists and their frequencies
df1_unique_freq = df1['artistName'].value_counts(normalize=True).rename_axis('artistName').reset_index(name='freq')
df2_unique_freq = df2['artistName'].value_counts(normalize=True).rename_axis('artistName').reset_index(name='freq')


df1_unique_freq['freq'] = pd.Series.round(df1_unique_freq['freq'] * 10000)
df2_unique_freq['freq'] = pd.Series.round(df2_unique_freq['freq'] * 10000)


print(df1_unique_freq)
print('----------------------')
print(df2_unique_freq)

                            artistName   freq
0                                Flume  822.0
1                         Janis Joplin  779.0
2                             Jai Wolf  677.0
3                                 GRiZ  663.0
4    Big Brother & The Holding Company  455.0
..                                 ...    ...
381             A Boogie Wit da Hoodie    5.0
382                               Cozz    5.0
383                               Tyga    5.0
384                            6ix9ine    5.0
385                           Galantis    5.0

[386 rows x 2 columns]
----------------------
          artistName   freq
0         Kanye West  619.0
1    Johannes Brahms  508.0
2              Flume  493.0
3    Vampire Weekend  484.0
4           Big Wild  445.0
..               ...    ...
307    Chrome Sparks    5.0
308       Miike Snow    5.0
309       Boz Scaggs    5.0
310   Electric Guest    5.0
311        Sure Sure    5.0

[312 rows x 2 columns]

In [8]:
# create ndarray of all unique artists from both dfs
full_unique = pd.Series.append(df1_unique_freq['artistName'], df2_unique_freq['artistName']).unique()

In [60]:
# # create dataframe with combined unique artists and frequencies with NaN values filled with 0
test = pd.merge(df1_unique_freq, df2_unique_freq, on="artistName", how="outer").fillna(0)
print(test)

                            artistName    freq_x  \
0                                Flume  0.082245
1                         Janis Joplin  0.077891
2                             Jai Wolf  0.067731
3                                 GRiZ  0.066280
4    Big Brother & The Holding Company  0.045477
..                                 ...       ...
531                         Miike Snow  0.000000
532               Ludwig van Beethoven  0.000000
533                      Booty&theKidd  0.000000
534                              Arlie  0.000000
535                    The Mary Nixons  0.000000

                             artisName                    artistName_full  \
0                                Flume                              Flume
1                         Janis Joplin                       Janis Joplin
2                             Jai Wolf                           Jai Wolf
3                                 GRiZ                               GRiZ
4    Big Brother & The Holding Company  Big Brother & The Holding Company
..                                 ...                                ...
531                                  0                                  0
532                                  0                                  0
533                                  0                                  0
534                                  0                                  0
535                                  0                                  0

       freq_y
0    0.049347
1    0.002903
2    0.011611
3    0.018384
4    0.000000
..        ...
531  0.000484
532  0.000484
533  0.000484
534  0.000484
535  0.000484

[536 rows x 5 columns]

In [162]:
# Construct final dataset
df_x = pd.DataFrame.from_dict({ 'userId' : [0 for i in range(test['artistName'].size)], 'artistId' : [i for i in range(test['artistName'].size)], 'freq' : test['freq_x']})
df_y = pd.DataFrame.from_dict({ 'userId' : [1 for i in range(test['artistName'].size)], 'artistId' : [i for i in range(test['artistName'].size)], 'freq' : test['freq_y']})
dataset = pd.DataFrame.append(df_x, df_y)

print(df_x)

     userId  artistId   freq
0         0         0  822.0
1         0         1  779.0
2         0         2  677.0
3         0         3  663.0
4         0         4  455.0
..      ...       ...    ...
531       0       531    NaN
532       0       532    NaN
533       0       533    NaN
534       0       534    NaN
535       0       535    NaN

[536 rows x 3 columns]

In [198]:
dataset_no_zeros = dataset[dataset['freq'].notna()]
dataset_zeros = dataset[dataset['freq'].isna()]

print(dataset_no_zeros)

     userId  artistId   freq
0         0         0  822.0
1         0         1  779.0
2         0         2  677.0
3         0         3  663.0
4         0         4  455.0
..      ...       ...    ...
531       1       531    5.0
532       1       532    5.0
533       1       533    5.0
534       1       534    5.0
535       1       535    5.0

[698 rows x 3 columns]

In [213]:
# to string

dataset_no_zeros['userId'] = dataset_no_zeros['userId'].astype(str)
dataset_no_zeros['artistId'] = dataset_no_zeros['artistId'].astype(str)

print(dataset_no_zeros.dtypes)

userId       object
artistId     object
freq        float64
dtype: object

/Users/christophermallalieu/.local/share/virtualenvs/music_recommend-63Qr5cfw/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/christophermallalieu/.local/share/virtualenvs/music_recommend-63Qr5cfw/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [214]:
from surprise import Reader, Dataset

In [215]:
# import data into suprise dataset
reader = Reader()

data_no_zeros = Dataset.load_from_df(dataset_no_zeros[['userId', 'artistId', 'freq']], reader)

In [216]:
# split dataset into train and test
from surprise.model_selection import train_test_split

# trainset, testset = train_test_split(data_no_zeros, test_size=0.01)

trainset = data_no_zeros.build_full_trainset()
print(trainset)

<surprise.trainset.Trainset object at 0x11d8445d0>

In [217]:
# fit SVD model
from surprise import SVD, accuracy

algo = SVD()
algo.fit(trainset)

In [218]:
# Make prediction
predictions = algo.test(testset)

In [219]:
# Test model accuracy use root mean squared error
from surprise import accuracy
accuracy.rmse(predictions)

RMSE: nan

nan

In [220]:
data_zeros = Dataset.load_from_df(dataset_zeros[['userId', 'artistId', 'freq']], reader)

In [225]:
print(type(data_zeros))

trainset, testset = train_test_split(data_zeros, test_size=.999)

<class 'surprise.dataset.DatasetAutoFolds'>

In [238]:

predictions = algo.test(testset)

uids = testset[:]
print(uids)

[(1, 385, nan), (1, 202, nan), (1, 306, nan), (1, 368, nan), (0, 485, nan), (0, 418, nan), (1, 292, nan), (0, 405, nan), (0, 466, nan), (1, 350, nan), (1, 263, nan), (1, 148, nan), (1, 163, nan), (1, 375, nan), (0, 491, nan), (0, 416, nan), (1, 114, nan), (1, 358, nan), (1, 199, nan), (1, 60, nan), (1, 92, nan), (0, 394, nan), (0, 528, nan), (0, 497, nan), (1, 204, nan), (1, 152, nan), (0, 500, nan), (0, 435, nan), (1, 195, nan), (0, 413, nan), (1, 223, nan), (0, 434, nan), (1, 371, nan), (0, 511, nan), (1, 133, nan), (0, 457, nan), (1, 331, nan), (0, 401, nan), (1, 365, nan), (0, 467, nan), (0, 403, nan), (0, 468, nan), (1, 327, nan), (0, 483, nan), (1, 75, nan), (1, 94, nan), (0, 425, nan), (1, 344, nan), (0, 471, nan), (1, 211, nan), (0, 447, nan), (0, 431, nan), (1, 46, nan), (0, 488, nan), (0, 438, nan), (0, 470, nan), (0, 525, nan), (1, 151, nan), (1, 128, nan), (0, 480, nan), (1, 180, nan), (1, 194, nan), (1, 138, nan), (0, 392, nan), (1, 91, nan), (1, 239, nan), (0, 486, nan), (1, 315, nan), (1, 106, nan), (1, 119, nan), (0, 408, nan), (0, 512, nan), (1, 323, nan), (0, 529, nan), (1, 183, nan), (0, 423, nan), (1, 233, nan), (1, 184, nan), (1, 20, nan), (1, 229, nan), (1, 126, nan), (0, 527, nan), (1, 297, nan), (0, 517, nan), (1, 339, nan), (1, 140, nan), (0, 532, nan), (0, 492, nan), (1, 334, nan), (1, 217, nan), (0, 414, nan), (0, 474, nan), (1, 308, nan), (0, 484, nan), (1, 276, nan), (1, 256, nan), (1, 186, nan), (0, 404, nan), (1, 380, nan), (1, 120, nan), (0, 481, nan), (1, 85, nan), (1, 54, nan), (0, 442, nan), (0, 495, nan), (0, 411, nan), (1, 360, nan), (1, 280, nan), (0, 496, nan), (0, 509, nan), (1, 157, nan), (1, 384, nan), (1, 196, nan), (0, 464, nan), (1, 38, nan), (1, 185, nan), (1, 135, nan), (1, 225, nan), (1, 105, nan), (0, 436, nan), (0, 440, nan), (1, 254, nan), (0, 490, nan), (1, 158, nan), (1, 236, nan), (1, 329, nan), (1, 192, nan), (1, 291, nan), (1, 214, nan), (0, 493, nan), (1, 266, nan), (1, 90, nan), (0, 432, nan), (0, 520, nan), (0, 402, nan), (0, 508, nan), (0, 429, nan), (1, 244, nan), (1, 337, nan), (1, 218, nan), (0, 424, nan), (1, 347, nan), (1, 325, nan), (0, 426, nan), (1, 231, nan), (1, 335, nan), (1, 364, nan), (0, 530, nan), (1, 13, nan), (1, 351, nan), (1, 310, nan), (0, 430, nan), (1, 363, nan), (1, 279, nan), (0, 515, nan), (1, 247, nan), (1, 58, nan), (1, 178, nan), (1, 345, nan), (1, 309, nan), (1, 210, nan), (0, 454, nan), (1, 271, nan), (1, 193, nan), (0, 476, nan), (0, 396, nan), (1, 4, nan), (1, 269, nan), (1, 139, nan), (1, 288, nan), (0, 450, nan), (0, 410, nan), (0, 533, nan), (0, 531, nan), (1, 71, nan), (0, 449, nan), (0, 516, nan), (1, 264, nan), (1, 182, nan), (1, 220, nan), (1, 294, nan), (1, 354, nan), (0, 463, nan), (1, 88, nan), (1, 251, nan), (1, 361, nan), (1, 159, nan), (0, 422, nan), (1, 376, nan), (1, 209, nan), (1, 107, nan), (1, 307, nan), (0, 443, nan), (1, 238, nan), (0, 462, nan), (0, 506, nan), (0, 513, nan), (1, 109, nan), (1, 359, nan), (0, 510, nan), (0, 386, nan), (0, 439, nan), (0, 478, nan), (1, 322, nan), (1, 248, nan), (1, 226, nan), (1, 227, nan), (0, 400, nan), (0, 498, nan), (1, 353, nan), (0, 459, nan), (0, 514, nan), (0, 519, nan), (0, 518, nan), (1, 172, nan), (1, 311, nan), (1, 316, nan), (1, 267, nan), (1, 197, nan), (1, 121, nan), (1, 296, nan), (1, 113, nan), (1, 207, nan), (0, 398, nan), (0, 501, nan), (0, 391, nan), (1, 167, nan), (1, 80, nan), (1, 189, nan), (1, 282, nan), (1, 42, nan), (0, 451, nan), (1, 289, nan), (0, 472, nan), (0, 428, nan), (1, 377, nan), (0, 507, nan), (1, 341, nan), (0, 387, nan), (1, 213, nan), (1, 319, nan), (1, 191, nan), (0, 417, nan), (0, 420, nan), (1, 187, nan), (1, 257, nan), (1, 261, nan), (1, 81, nan), (1, 250, nan), (0, 437, nan), (1, 198, nan), (1, 287, nan), (1, 243, nan), (1, 237, nan), (1, 300, nan), (0, 524, nan), (0, 445, nan), (0, 395, nan), (0, 482, nan), (1, 65, nan), (1, 118, nan), (1, 265, nan), (0, 465, nan), (0, 406, nan), (0, 535, nan), (1, 55, nan), (0, 446, nan), (1, 104, nan), (1, 154, nan), (0, 388, nan), (0, 409, nan), (1, 215, nan), (0, 389, nan), (0, 390, nan), (1, 132, nan), (0, 407, nan), (0, 489, nan), (0, 421, nan), (0, 526, nan), (1, 162, nan), (0, 460, nan), (1, 295, nan), (1, 41, nan), (0, 494, nan), (1, 373, nan), (1, 93, nan), (1, 136, nan), (1, 53, nan), (1, 260, nan), (0, 504, nan), (0, 475, nan), (0, 455, nan), (0, 477, nan), (0, 534, nan), (1, 330, nan), (1, 381, nan), (1, 129, nan), (1, 79, nan), (0, 502, nan), (0, 419, nan), (1, 177, nan), (0, 397, nan), (0, 393, nan), (1, 228, nan), (0, 412, nan), (0, 473, nan), (1, 304, nan), (1, 268, nan), (1, 134, nan), (1, 112, nan), (1, 181, nan), (1, 212, nan), (1, 255, nan), (0, 499, nan), (1, 241, nan), (1, 15, nan), (1, 87, nan), (1, 343, nan), (1, 245, nan), (1, 116, nan), (0, 444, nan), (0, 448, nan), (1, 165, nan), (1, 240, nan), (0, 458, nan), (1, 366, nan), (1, 332, nan), (1, 222, nan), (0, 487, nan), (0, 503, nan), (0, 399, nan), (1, 146, nan), (1, 84, nan), (1, 175, nan), (0, 441, nan), (1, 122, nan), (1, 201, nan), (1, 150, nan), (1, 277, nan), (1, 62, nan), (1, 11, nan), (1, 108, nan), (1, 259, nan), (1, 326, nan), (1, 336, nan), (1, 131, nan), (0, 452, nan), (1, 230, nan), (0, 505, nan), (0, 522, nan), (0, 427, nan), (1, 206, nan), (1, 99, nan), (1, 293, nan), (0, 523, nan), (1, 314, nan), (1, 174, nan), (0, 456, nan), (0, 461, nan), (0, 433, nan), (0, 479, nan), (1, 188, nan), (0, 415, nan), (0, 453, nan), (1, 5, nan), (1, 305, nan), (1, 313, nan), (0, 469, nan), (0, 521, nan), (1, 66, nan), (1, 249, nan), (1, 125, nan), (1, 115, nan), (1, 275, nan)]

[Prediction(uid=1, iid=195, r_ui=0.0004837929366231253, est=1, details={'was_impossible': False})]