In [107]:
import numpy as np
import pandas as pd

In [108]:
# Read in JSON into dataframe
df = pd.read_json('./spotify_data/StreamingHistory.json')

In [109]:
# get number of rows
half_rows = df['artistName'].count() / 2

In [110]:
# # Concatenate artist and song names with comma seperation and drop old columns
# df['artist_song'] = df['artistName'] + ',' + df['trackName']
# df = df.drop(columns=['artistName', 'trackName'])


# drop all columns besides artistNames
df = df.drop(columns=['trackName', 'endTime', 'msPlayed'])

In [111]:
# split into 2 dfs
df1, df2 = np.split(df, [int(half_rows)], axis=0)

In [143]:
# generate 2 dataframes with unique artists and their frequencies
df1_unique_freq = df1['artistName'].value_counts(normalize=True).rename_axis('artistName').reset_index(name='freq')
df2_unique_freq = df2['artistName'].value_counts(normalize=True).rename_axis('artistName').reset_index(name='freq')

print(df1_unique_freq)
print('----------------------')
print(df2_unique_freq)

                            artistName      freq
0                                Flume  0.082245
1                         Janis Joplin  0.077891
2                             Jai Wolf  0.067731
3                                 GRiZ  0.066280
4    Big Brother & The Holding Company  0.045477
..                                 ...       ...
381                              ford.  0.000484
382                              emune  0.000484
383                          Roy Woods  0.000484
384                       Grizzly Bear  0.000484
385                  Rambutan Jam Band  0.000484

[386 rows x 2 columns]
----------------------
          artistName      freq
0         Kanye West  0.061925
1    Johannes Brahms  0.050798
2              Flume  0.049347
3    Vampire Weekend  0.048379
4           Big Wild  0.044509
..               ...       ...
307            SNBRN  0.000484
308    Samuel Barber  0.000484
309        Sure Sure  0.000484
310          Foxygen  0.000484
311  The Moody Blues  0.000484

[312 rows x 2 columns]

In [144]:
# create ndarray of all unique artists from both dfs
full_unique = pd.Series.append(df1_unique_freq['artistName'], df2_unique_freq['artistName']).unique()

In [164]:
# # create dataframe with combined unique artists and frequencies with NaN values filled with 0
test = pd.merge(df1_unique_freq, df2_unique_freq, on="artistName", how="outer").fillna(0)
print(test.head())

                          artistName    freq_x    freq_y
0                              Flume  0.082245  0.049347
1                       Janis Joplin  0.077891  0.002903
2                           Jai Wolf  0.067731  0.011611
3                               GRiZ  0.066280  0.018384
4  Big Brother & The Holding Company  0.045477  0.000000

In [150]:
# # create dataframes with combined unique artists
# df1_normal = pd.DataFrame(full_unique, columns=['artistName'])
# df2_normal = pd.DataFrame(full_unique, columns=['artistName'])
# print(df1_normal)

                            artistName
0                                Flume
1                         Janis Joplin
2                             Jai Wolf
3                                 GRiZ
4    Big Brother & The Holding Company
..                                 ...
531                  Father John Misty
532                              SNBRN
533                      Samuel Barber
534                            Foxygen
535                    The Moody Blues

[536 rows x 1 columns]

In [146]:
# # get indexes of individual unique in combined unique
# indexes = df1_normal['artistName'].isin(df1_unique_freq['artistName'])

In [171]:
from surprise import SVD

ModuleNotFoundError: No module named 'surprise'